<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Óscar martínez Bañales">
    <meta name="copyright" content="Óscar martínez Bañales">
    <meta name="description" content="Página de programación en Java"/>
    <meta name="keywords" content="java, spring, spring mvc, spring boot, groovy">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <!-- jQuery JS --> 
    <script src="../js/jquery.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/highlight/styles/atom-one-light.css">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    <title>CodigoJava-springboot2-jpa-paginación</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="../images/title.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contact.html">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://es.stackoverflow.com/users/110116/oscar?tab=profile">about</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <img class="img-fluid" src="../images/logo.png">
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
          <h2 class="sub-title bg-danger text-white" align="center">Spring Boot 2 - JPA - Page - Thymeleaf</h2>
          <p>Descarga el <a href="https://github.com/wanchopi/springboot2-data-jpa-page-thymeleaf">proyecto de GitHub</a>.</p>
          <h4 class="sub-title bg-secondary text-white">Introducción</h4>
          <p>Partiendo del proyecto anterior, vamos a realizar un autocompletado, una paginación, lo vamos a internacionalizar y por último realizaremos algunos test para las clases nuevas que vayan surgiendo.</p>
          <p>Esta es la página principal (obviamente con mi base de datos) del proyecto:</p>
          <img class="img-fluid" src="../images/bitmap.png" alt="app run">
          <h4 class="sub-title bg-secondary text-white">El Proyecto</h4>
          <h5>La estructura del proyecto</h5>
          <p>Desglosemos el proyecto en partes.</p>
          <div class="row">
            <div class="col-lg-4">
              <h6>El modelo</h6>
              <img class="img-fluid" src="../images/image3004.png">
            </div>
            <div class="col-lg-4">
              <h6>La vista</h6>
              <img class="img-fluid" src="../images/image3015.png">
            </div>
            <div class="col-lg-4">
              <h6>Los test</h6>
              <img class="img-fluid" src="../images/image3037.png">
            </div>
          </div> 
          <h6 class="text-info">application.properties</h6>
          <p><a href="springboot2-data-jpa-thymeleaf.html#properties-data-jpa">Ver el proyecto anterior.</a></p>
          <h5>Las dependencias</h5>
          <p><a href="springboot2-data-jpa-thymeleaf.html#dependencias-data-jpa">Ver el proyecto anterior.</a></p>
          <h5>La Configuración</h5>
          <p>Para permitir al usuario escoger el idioma en que quiere ver la página debemos cambiar el <mark>LocaleResolver</mark> de la aplicación y convertirlo en un <mark>SessionLocaleResolver</mark>. Para ello implementamos la clase <mark>MessageConfiguration</mark></p>
          <h6 class="text-info">MessageConfiguration.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.config;

import java.util.Locale;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.web.servlet.LocaleResolver;
import org.springframework.web.servlet.config.annotation.InterceptorRegistry;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurer;
import org.springframework.web.servlet.i18n.LocaleChangeInterceptor;
import org.springframework.web.servlet.i18n.SessionLocaleResolver;

@Configuration
public class MessageConfiguration implements WebMvcConfigurer {

  @Bean
    public LocaleResolver localeResolver() {
      SessionLocaleResolver localeResolver = new SessionLocaleResolver();
      localeResolver.setDefaultLocale(Locale.getDefault());
      return localeResolver;
    }

    @Bean
    public LocaleChangeInterceptor localeChangeInterceptor() {
      LocaleChangeInterceptor localeInterceptor = new LocaleChangeInterceptor();
      localeInterceptor.setIgnoreInvalidLocale(true);
      localeInterceptor.setParamName("idioma");
      return localeInterceptor;
    }

    @Override
    public void addInterceptors(InterceptorRegistry registry) {
      registry.addInterceptor(localeChangeInterceptor());
    }
    
}
            </code></pre>
          </div>
          <h5>El modelo</h5>
          <p><a href="springboot2-data-jpa-thymeleaf.html#model-data-jpa">Ver el proyecto anterior.</a></p>
          <h5>El Controlador</h5>
          <p></p>
          <h6 class="text-info">AppController.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.controller;

import java.util.List;
import java.util.Map;
import java.util.stream.Collectors;
import java.util.stream.IntStream;

import javax.servlet.http.HttpServletRequest;
import javax.validation.Valid;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.propertyeditors.StringTrimmerEditor;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.ui.ModelMap;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.WebDataBinder;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.InitBinder;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;

import com.wanchopi.model.Player;
import com.wanchopi.model.Team;
import com.wanchopi.service.PlayerServiceAPI;
import com.wanchopi.service.TeamServiceAPI;

/**
 * 
 * @author Wanchopi
 *
 */
@Controller
public class AppController {
  
  @Autowired
  private PlayerServiceAPI playerService;
  @Autowired
  private TeamServiceAPI teamService;
  
  @InitBinder
    public void initBinder(WebDataBinder dataBinder) {
        StringTrimmerEditor stringTrimmerEditor = new StringTrimmerEditor(true);
        dataBinder.registerCustomEditor(String.class, stringTrimmerEditor);
    }
  
  @RequestMapping(value = "/")
  public String home(@RequestParam Map<String, Object> param, Model model) {
    int page = param.get("page") != null ? (Integer.valueOf(param.get("page").toString()) -1) : 0;
    PageRequest pageRequest = PageRequest.of(page, 5);
    Page<Player> pagePlayer = playerService.findAll(pageRequest);
    int totalPage = pagePlayer.getTotalPages();
    if(totalPage > 0) {
      List<Integer> pages = IntStream.rangeClosed(1, totalPage)
          .boxed()
          .collect(Collectors.toList());
      model.addAttribute("pages", pages);
    }
    model.addAttribute("players", pagePlayer.getContent());
    model.addAttribute("current", page + 1);
    model.addAttribute("next", page + 2);
    model.addAttribute("prev", page);
    model.addAttribute("last", totalPage);
    return "index";
  }
  
  @RequestMapping(value = "/players/{id}")
  public String findByTeam(@PathVariable("id") long id, Model model) {
    Team team = teamService.get(id);
    List<Player> players = playerService.findPlayersByTeam(team);
    model.addAttribute("players", players);
    return "/players-team";
  }
  
  @RequestMapping(value = "/search", method = RequestMethod.GET)
  @ResponseBody 
  public List<String> search(HttpServletRequest request) {
    return playerService.findNamePlayer(request.getParameter("term"));
  }
  
  @RequestMapping(value = "/search")
  public String searchPlayerByName(@RequestParam String keyword, Model model) {
    List<Player> players = playerService.findByName(keyword);
    model.addAttribute("players", players);
    return "/player";
  }
  
  @RequestMapping(value = "/players/search")
  public String searchPlayerByNameFromPlayers(@RequestParam String keyword, Model model) {
    List<Player> players = playerService.findByName(keyword);
    model.addAttribute("players", players);
    return "/player";
  }
  
  @RequestMapping(value = "/edit/search")
  public String searchPlayerByNameReRe(@RequestParam String keyword, Model model) {
    return "redirect:/?q= " + keyword;
  }
  
  
  @GetMapping(value = "/create")
  public String showForm(ModelMap mp) {
    mp.put("player", new Player());
    mp.put("teams", teamService.getAll());
    return "/player-form";
  }
  
  @PostMapping(value = "/save")
  public String save(@Valid Player player, BindingResult br, ModelMap mp) {
    if (br.hasErrors()) {
      mp.put("teams", teamService.getAll());
      return "/player-form";
    } else {
      playerService.save(player);
      return "redirect:/";
    } 
  }
  
  @GetMapping(value = "/edit/{id}")
  public String showEditForm(@PathVariable("id") long id, ModelMap mp) {
    Player player = playerService.get(id);
    mp.put("player", player);
    mp.put("teams", teamService.getAll());
    return "/update-form";
  }
  
  @PostMapping(value = "/update")
  public String update(@Valid Player player, BindingResult br) {
    if (br.hasErrors()) {
      return "/update-form";
    } else {
      playerService.save(player);
      return "redirect:/";
    }
  }
  
  @GetMapping(value = "/delete/{id}")
  public String delete(@PathVariable("id") long id) {
    playerService.delete(id);
    return "redirect:/";
  }

}
            </code></pre>
          </div>
          <p>Atención al método <mark>home()</mark>, pues es el de la paginación.</p>
          <h5>El Repositorio</h5>
          <h6 class="text-info">PlayerRepository.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.repository;

import java.util.List;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;
import org.springframework.stereotype.Repository;

import com.wanchopi.model.Player;
import com.wanchopi.model.Team;

/**
 * Player repository
 * 
 * @author Wanchopi
 *
 */
@Repository
public interface PlayerRepository extends JpaRepository&lt;Player, Long&gt;{
  
  @Query("SELECT p FROM Player p WHERE p.name like %:keyword%")
  public List&lt;Player&gt; searchPlayers(@Param("keyword") String keyword);
  
  @Query("SELECT name FROM Player WHERE name like %:keyword%")
  public List&lt;String&gt; search(@Param("keyword") String keyword);
  
  @Query("SELECT p FROM Player p WHERE p.team like :team")
  public List&lt;Player&gt; findByTeam(Team team);
  
}
            </code></pre>
          </div>
          <p></p>
          <h6 class="text-info">TeamRepository.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.repository;

import java.util.List;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;
import org.springframework.stereotype.Repository;

import com.wanchopi.model.Team;

/**
 * Team repository
 * 
 * @author Wanchopi
 *
 */
@Repository
public interface TeamRepository extends JpaRepository&lt;Team, Long&gt;{
  
  @Query("SELECT name FROM Team where name like %:keyword%")
  public List&lt;String&gt; search(@Param("keyword") String keyword);

}
            </code></pre>
          </div>
          <p>Aparte de los métodos que heredamos de <mark>JpaRepository</mark> necesitamos implementar nuestros propios métodos para el autocompletado.</p>
          <h5>El Service</h5>
          <p>Vamos a utilizar el concepto <strong>Java Generic Service</strong> muy utilizado cuando trabajamos con tecnologías de persistencia.</p>
          <h6 class="text-info">GenericServiceAPI.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import java.io.Serializable;
import java.util.List;

/**
 * GenericServiceAPI, interface where the basic methods are declared.
 * 
 * @author Wanchopi
 *
 * @param &lt;T&gt;
 * @param &lt;ID&gt;
 */
public interface GenericServiceAPI&lt;T, ID extends Serializable&gt; {
  
  T save(T entity);
  void delete(ID id);
  T get(ID id);
  List&lt;T&gt; getAll();

}
            </code></pre>
          </div>
          <h6 class="text-info">GenericServiceImpl.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import java.io.Serializable;
import java.util.ArrayList;
import java.util.List;
import java.util.Optional;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Service;

/**
 * GenericServiceImpl, implements the GenericServiceAPI interface
 * 
 * @author Wanchopi
 *
 * @param &lt;T&gt;
 * @param &lt;ID&gt;
 */
@Service
public abstract class GenericServiceImpl&lt;T, ID extends Serializable&gt; implements GenericServiceAPI&lt;T, ID&gt; {

  @Override
  public T save(T entity) {
    return getRepository().save(entity);
  }

  @Override
  public void delete(ID id) {
    getRepository().deleteById(id);
  }

  @Override
  public T get(ID id) {
    Optional&lt;T&gt; obj = getRepository().findById(id);
    if(obj.isPresent()) return obj.get();
    return null;
  }

  @Override
  public List&lt;T&gt; getAll() {
    List&lt;T&gt; list = new ArrayList&lt;&gt;();
    getRepository().findAll().forEach(obj -> list.add(obj));
    return list;
  }
  
  public abstract JpaRepository&lt;T, ID&gt; getRepository();

}              
            </code></pre>
          </div>
          <h6 class="text-info">PlayerServiceAPI.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import java.util.List;

import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;

import com.wanchopi.model.Player;
import com.wanchopi.model.Team;

/**
 * PlayerServiceImpl, Player model's own interface
 * 
 * @author Wanchopi
 *
 */
public interface PlayerServiceAPI extends GenericServiceAPI&lt;Player, Long&gt;{
  
  public List&lt;Player&gt; findPlayersByTeam(Team team);
  
  public List&lt;String&gt; findNamePlayer(String keyword);
  
  public List&lt;Player&gt; findByName(String keyword);
  
  public Page&lt;Player&gt; findAll(PageRequest pageRequest);

}              
            </code></pre>
          </div>
          <h6 class="text-info">PlayerServiceImpl.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Service;

import com.wanchopi.model.Player;
import com.wanchopi.model.Team;
import com.wanchopi.repository.PlayerRepository;

/**
 * PlayerServiceImpl, implements the PLayerServiceAPI interface
 * 
 * @author Wanchopi
 *
 */
@Service
public class PlayerServiceImpl extends GenericServiceImpl&lt;Player, Long&gt; implements PlayerServiceAPI {
  
  @Autowired
  private PlayerRepository playerRepository;
  
  @Override
  public JpaRepository&lt;Player, Long&gt; getRepository() {
    return playerRepository;
  }

  @Override
  public Page&lt;Player&gt; findAll(PageRequest pageable) { 
    return playerRepository.findAll(pageable);
  }

  @Override
  public List&lt;String&gt; findNamePlayer(String keyword) {
    List&lt;String&gt; players = playerRepository.search(keyword);
    return players;
  }

  @Override
  public List&lt;Player&gt; findByName(String keyword) {
    List&lt;Player&gt; players = playerRepository.searchPlayers(keyword);
    return players;
  }

  @Override
  public List&lt;Player&gt; findPlayersByTeam(Team team) {
    List&lt;Player&gt; players = playerRepository.findByTeam(team);
    return players;
  }

}              
            </code></pre>
          </div>
          <h6 class="text-info">TeamServiceAPI.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import java.util.List;

import com.wanchopi.model.Team;

/**
 * TeamServiceAPI, Team model's own interface
 * 
 * @author Wanchopi
 *
 */
public interface TeamServiceAPI extends GenericServiceAPI&lt;Team, Long&gt;{
  
  public List&lt;String&gt; findNameTeams(String keyword);

}              
            </code></pre>
          </div>
          <h6 class="text-info">TeamServiceImpl.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Service;

import com.wanchopi.model.Team;
import com.wanchopi.repository.TeamRepository;

/**
 * TeamServiceImpl, implements the TeamServiceAPI interface
 * 
 * @author Wanchopi
 *
 */
@Service
public class TeamServiceImpl extends GenericServiceImpl&lt;Team, Long&gt; implements TeamServiceAPI {
  
  @Autowired
  private TeamRepository teamRepository;

  @Override
  public List&lt;String&gt; findNameTeams(String keyword) {
    List&lt;String&gt; teams = teamRepository.search(keyword);
    return teams;
  }

  @Override
  public JpaRepository&lt;Team, Long&gt; getRepository() {
    return teamRepository;
  }

}              
            </code></pre>
          </div>
          <p></p>
          <h5>Testing</h5>
          <p></p>
          <h6 class="text-info">PlayerRepositoryTest.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.repository;

import static org.junit.Assert.assertNotNull;
import static org.junit.jupiter.api.Assertions.assertEquals;

import java.util.List;

import org.junit.jupiter.api.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.autoconfigure.jdbc.AutoConfigureTestDatabase;
import org.springframework.boot.test.autoconfigure.jdbc.AutoConfigureTestDatabase.Replace;
import org.springframework.boot.test.autoconfigure.orm.jpa.DataJpaTest;
import org.springframework.test.context.junit4.SpringRunner;

import com.wanchopi.model.Player;
import com.wanchopi.model.Team;

@RunWith(SpringRunner.class)
@DataJpaTest
@AutoConfigureTestDatabase(replace = Replace.NONE)
public class PlayerRepositoryTest {
  
  @Autowired
  private PlayerRepository playerRepository;
  
  @Autowired
  private TeamRepository teamRespository;
    
  @Test
  public void testSearchPlayers() {
    String keyword = "gasol";
    List&lt;Player&gt; players = playerRepository.searchPlayers(keyword);
    // not null
    assertNotNull(players);
    // two players
    assertEquals(2, players.size());
    keyword = "lll";
    List&lt;Player&gt; players2 = playerRepository.searchPlayers(keyword);
    // not null
    assertNotNull(players2);
    // zero players
    assertEquals(0, players2.size());
  }
  
  @Test
  public void testFindByTeam() {
    List&lt;Team&gt; teams = teamRespository.findAll();
    Team team = teams.get(0); 
    List&lt;Player&gt; players = playerRepository.findByTeam(team);
    // three players
    assertEquals(3, players.size());
  }

}
            </code></pre>
          </div>
          <h6 class="text-info">PlayerServiceTest.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.service;

import static org.junit.Assert.assertEquals;
import static org.mockito.Mockito.when;

import java.util.ArrayList;
import java.util.List;

import org.junit.Before;
import org.junit.jupiter.api.Test;
import org.mockito.InjectMocks;
import org.mockito.Mock;
import org.mockito.MockitoAnnotations;
import org.springframework.boot.test.context.SpringBootTest;

import com.wanchopi.model.Player;
import com.wanchopi.model.Team;
import com.wanchopi.repository.PlayerRepository;

@SpringBootTest
public class PlayerServiceTest {
  
  @InjectMocks
  private PlayerServiceImpl playerService;
  
  @Mock
  private PlayerRepository playerRepository;
  
  @Before
    public void init() {
        MockitoAnnotations.initMocks(this);
    }
  
  @Test
  public void testFindNamePlayer() {
    List&lt;Player&gt; players = new ArrayList&lt;Player&gt;();
    Player player1 = new Player(1L, "player1", "player1@gmail.com", new Team());
    Player player2 = new Player(2L, "player2", "player2@gmail.com", new Team());
    players.add(player1);
    players.add(player2);

    when(playerRepository.searchPlayers("gasol")).thenReturn(players);
    assertEquals(players.size(), playerService.findByName("gasol").size());
  }
  
}
            </code></pre>
          </div>
          <h6 class="text-info">AppControllerTest.java</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="java">
package com.wanchopi.controllers;

import static org.assertj.core.api.Assertions.assertThat;

import static org.springframework.test.web.servlet.request.MockMvcRequestBuilders.get;
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.status;
import static org.springframework.test.web.servlet.result.MockMvcResultMatchers.view;

import static org.springframework.test.web.servlet.result.MockMvcResultHandlers.print;

import org.junit.jupiter.api.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.autoconfigure.web.servlet.AutoConfigureMockMvc;
import org.springframework.boot.test.autoconfigure.web.servlet.WebMvcTest;
import org.springframework.boot.test.mock.mockito.MockBean;
import org.springframework.test.context.junit4.SpringRunner;
import org.springframework.test.web.servlet.MockMvc;

import com.wanchopi.repositories.PlayerRepository;
import com.wanchopi.repositories.TeamRepository;


@RunWith(SpringRunner.class)
@WebMvcTest(AppController.class)
@AutoConfigureMockMvc
public class AppControllerTest {
  
  @Autowired
  private MockMvc mockMvc;
  
  @Autowired
  private AppController controller;
  
  @MockBean
  private TeamRepository teamRepository;
  
  @MockBean
  private PlayerRepository playerRepository;
  
  @Test
  public void contexLoads() throws Exception {
    assertThat(controller).isNotNull();
  }
  
  @Test
  public void testHome() throws Exception {
    this.mockMvc.perform(get("/"))
      .andExpect(status().isOk())
      .andDo(print())
      .andExpect(view().name("index"));
  }
  
}
            </code></pre>
          </div>
          <h5>Las vistas</h5>
          <h6 class="text-info">header.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"&gt;
  &lt;!-- Static navbar --&gt;
  &lt;nav class="navbar navbar-light bg-light"&gt;
    &lt;a th:href="@{/}"&gt;&lt;img alt="logo" th:src="@{/assets/images/mini-logo.png}"&gt;&lt;/a&gt;
    &lt;form class="form-inline my-2 my-lg-0" action="#" method="post"&gt;
        &lt;input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Team search" 
        aria-label="Search" id="teamName"&gt;
        &lt;button class="btn btn-outline-success my-2 my-sm-0" type="submit"&gt;Search&lt;/button&gt;
      &lt;/form&gt;
  &lt;/nav&gt;
  &lt;!-- header --&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-lg-12" align="center"&gt;
        &lt;img alt="logo" th:src="@{/assets/images/main-logo.png}"&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
            </code></pre>
          </div>
          <h6 class="text-info">footer.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml"&gt;
    &lt;div class="container"&gt;
        &lt;p&gt;&lt;span th:text="#{text.footer}" class="text-muted"&gt;App footer&lt;/span&gt;&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
          </div>
          <h6 class="text-info">header-error.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"&gt;
  &lt;!-- header --&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-lg-12" align="center"&gt;
        &lt;img alt="logo" th:src="@{/assets/images/main-logo.png}"&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
            </code></pre>
          </div>
          <h6 class="text-info">layout.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"&gt;
&lt;head&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="IE=edge" /&gt;
  &lt;title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"&gt;SpringBootThymeleaf&lt;/title&gt;
  &lt;meta
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport" /&gt;
  &lt;link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" /&gt;
  &lt;link rel="stylesheet" type="text/css" href="/webjars/jquery/3.4.1/jquery.min.css" /&gt;
  &lt;link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css" /&gt;
  &lt;link rel="stylesheet" type="text/css" href="webjars/jquery-ui-themes/1.12.1/blitzer/theme.css" /&gt; 
  &lt;link rel="stylesheet" type="text/css" href="webjars/font-awesome/5.11.2/css/all.min.css" /&gt; 
  &lt;link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;!--header.html  that's here  --&gt;
  &lt;header&gt;
    &lt;div th:replace="fragments/header :: header"&gt;&lt;/div&gt;
  &lt;/header&gt;
  
  &lt;div layout:fragment="content"&gt;
    &lt;!-- Your Page Content Here --&gt;
  &lt;/div&gt;

  &lt;!--footer.html  that's here  --&gt;
  &lt;footer&gt;
    &lt;div th:replace="fragments/footer :: footer"&gt;&lt;/div&gt;
  &lt;/footer&gt;

  &lt;!-- JS --&gt;
  &lt;script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    $(document).ready(function () {
      $('.fa-times').css('color', '#ff0000');
      $('.fa-edit').css('color', '#0000ff');
    });
  &lt;/script&gt;
  &lt;!-- blinking effect --&gt;
  &lt;script&gt;
  $(document).ready(function blink() {
    $('#a-save').fadeIn(750).delay(250).fadeOut(1000, blink);
  });
  &lt;/script&gt;
  &lt;script&gt;
  $(document).ready(function() {
    $('#name').focus();
  });
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </div>
          <h6 class="text-info">layout-error.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"&gt;
&lt;head&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="IE=edge" /&gt;
  &lt;title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"&gt;SpringBootThymeleaf&lt;/title&gt;
  &lt;meta
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport" /&gt;
  &lt;link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" /&gt;
  &lt;link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/&gt;
&lt;/head&gt;
&lt;body&gt;

  &lt;!--header.html  that's here  --&gt;
  &lt;header&gt;
    &lt;div th:replace="fragments/header-error :: header"&gt;&lt;/div&gt;
  &lt;/header&gt;

  &lt;div layout:fragment="content"&gt;
    &lt;!-- Your Page Content Here --&gt;
  &lt;/div&gt;
  
  &lt;!--footer.html  that's here  --&gt;
  &lt;footer&gt;
    &lt;div th:replace="fragments/footer :: footer"&gt;&lt;/div&gt;
  &lt;/footer&gt;

&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </div>
          <h6 class="text-info">index.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"&gt;
&lt;head&gt;
  &lt;title&gt;index :: n.b.a.&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- body --&gt;
  &lt;div layout:fragment="content"&gt;
    &lt;div class="container-fluid" align="center"&gt;  
      &lt;div class="col-lg-9" style="margin-top: 50px;"&gt;
        &lt;div th:if="${!players.isEmpty()}"&gt;
          &lt;table class="table"&gt;
            &lt;thead class="thead-dark"&gt;
              &lt;tr align="center"&gt;
                &lt;th scope="col"&gt;ID&lt;/th&gt;
                &lt;th scope="col"&gt;NAME&lt;/th&gt;
                &lt;th scope="col"&gt;E-MAIL&lt;/th&gt;
                &lt;th scope="col"&gt;TEAM&lt;/th&gt;
                &lt;th scope="col"&gt;EDIT&lt;/th&gt;
                &lt;th scope="col"&gt;DELETE&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr align="center" th:each="player: ${players}"&gt;
                &lt;td th:text="${player.id}"&gt;&lt;/td&gt;
                &lt;td th:text="${player.name}"&gt;&lt;/td&gt;
                &lt;td th:text="${player.email}"&gt;&lt;/td&gt;
                &lt;td th:text="${player.team.name}"&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a th:href="@{/edit/{id}(id=${player.id})}"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a th:href="@{/delete/{id}(id=${player.id})}"&gt;&lt;i class="fa fa-times"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
        &lt;/div&gt;
        &lt;div th:unless="${!players.isEmpty()}"&gt;
          &lt;p&gt;no items to show&lt;/p&gt; 
        &lt;/div&gt;
        &lt;a class="a-save" id="a-save" th:href="@{/create}"&gt;save a new Player&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt; 

&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </div>
          <h6 class="text-info">player-form.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"&gt;
&lt;head&gt;
  &lt;!-- fonts googleapis--&gt;
  &lt;link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"&gt;
  &lt;title&gt;form :: springboot&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- body --&gt;
  &lt;div layout:fragment="content"&gt;
    &lt;div class="container-fluid" align="center"&gt;  &lt;!-- main container --&gt;
      &lt;div class="col-lg-9 player-form"&gt;
        &lt;form th:action="@{save}" th:object="${player}" method="post" id="player-form"&gt; 
          &lt;!-- name --&gt;
          &lt;div class="form-group"&gt;
            &lt;label for="name" class="col-lg-4 control-label font-weight-bold"&gt;Name&lt;/label&gt;
            &lt;div class="col-lg-4"&gt;
              &lt;input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" required="required"/&gt;
              &lt;span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert text-danger"&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- email --&gt;
          &lt;div class="form-group"&gt;
            &lt;label for="email" class="col-lg-4 control-label font-weight-bold"&gt;Email&lt;/label&gt;
            &lt;div class="col-lg-4"&gt;
              &lt;input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email" required="required"/&gt;
              &lt;span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert text-danger"&gt;&lt;/span&gt; 
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- team --&gt;
            &lt;div class="form-group"&gt;
              &lt;label for="team" class="col-lg-4 control-label font-weight-bold"&gt;Team&lt;/label&gt;
              &lt;div class="col-lg-4" align="left"&gt;
                &lt;select th:field="*{team}" class="form-control"&gt;
                  &lt;option value=""&gt; Select team &lt;/option&gt;
                  &lt;option th:each="team : ${teams}"
                    th:value="${team.id}"
                    th:text="${team.name}"
                    th:selected="false"
                  /&gt;
                &lt;/select&gt;
                &lt;span th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="alert text-danger"&gt;&lt;/span&gt; 
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- Button --&gt;
          &lt;div class="form-group"&gt;
            &lt;div class="col-lg-4" align="left"&gt;
              &lt;input type="submit" class="btn" value="Save"&gt; 
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- /main container --&gt;
  &lt;/div&gt; &lt;!-- /content --&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </div>
          <h6 class="text-info">update-form.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"&gt;
&lt;head&gt;
  &lt;!-- fonts googleapis--&gt;
  &lt;link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"&gt; 
  &lt;title&gt;form :: springboot&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- body --&gt;
  &lt;div layout:fragment="content"&gt;
    &lt;div class="container-fluid" align="center"&gt;  &lt;!-- main container --&gt;
      &lt;div class="col-lg-9 player-form"&gt;
        &lt;form th:action="@{/update}" th:object="${player}" method="post" id="player-form"&gt;
          &lt;!-- id --&gt;
          &lt;div class="form-group"&gt;
            &lt;label for="id" class="col-md-4 control-label font-weight-bold"&gt;ID&lt;/label&gt;
            &lt;div class="col-md-4"&gt;
              &lt;input type="text" th:field="*{id}" class="form-control" id="id" placeholder="" readonly="readonly"/&gt;
              &lt;span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert text-danger"&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- name --&gt;
          &lt;div class="form-group"&gt;
            &lt;label for="name" class="col-md-4 control-label font-weight-bold"&gt;Name&lt;/label&gt;
            &lt;div class="col-md-4"&gt;
              &lt;input type="text" th:field="*{name}" class="form-control" id="name" placeholder="" required="required"/&gt;
              &lt;span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert text-danger"&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- email --&gt;
          &lt;div class="form-group"&gt;
            &lt;label for="email" class="col-md-4 control-label font-weight-bold"&gt;Email&lt;/label&gt;
            &lt;div class="col-md-4"&gt;
              &lt;input type="text" th:field="*{email}" class="form-control" id="email" placeholder="" required="required"/&gt;
              &lt;span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert text-danger"&gt;&lt;/span&gt; 
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- team --&gt;
            &lt;div class="form-group"&gt;
              &lt;label for="team" class="col-md-4 control-label font-weight-bold"&gt;Team&lt;/label&gt;
              &lt;div class="col-lg-4" align="left"&gt;
                &lt;select th:field="*{team}" class="form-control"&gt;
                  &lt;option value=""&gt;&lt;/option&gt;
                  &lt;option th:each="team : ${teams}"
                    th:value="${team.id}"
                    th:text="${team.name}"
                    th:selected="false"
                  /&gt;
                &lt;/select&gt;
                &lt;span th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="alert text-danger"&gt;&lt;/span&gt;  
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- Button --&gt;
          &lt;div class="form-group"&gt;
            &lt;div class="col-md-4" align="left"&gt;
              &lt;input type="submit" class="btn" value="Update"&gt; 
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- /main container --&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </div>
          <h6 class="text-info">error.html</h6>
          <div class="col-lg-12 mycode">
            <pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout-error"&gt;
&lt;head&gt;
  &lt;title&gt;error :: n.b.a.&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div layout:fragment="content"&gt;
    &lt;div class="container-fluid" align="center"&gt;
      &lt;h1&gt;Custom error page&lt;/h1&gt;
      
      &lt;div class="messages-error"&gt; 
        &lt;ul&gt;
          &lt;li&gt;&lt;span&gt;Status : &lt;/span&gt;&lt;span th:text="${status}"&gt;status&lt;/span&gt;&lt;/li&gt;
              &lt;li&gt;&lt;span&gt;Error : &lt;/span&gt;&lt;span th:text="${error}"&gt;error&lt;/span&gt;&lt;/li&gt;
              &lt;li&gt;&lt;span&gt;Message : &lt;/span&gt;&lt;span th:text="${message}"&gt;message&lt;/span&gt;&lt;/li&gt;
              &lt;li&gt;&lt;span&gt;Path : &lt;/span&gt;&lt;span th:text="${path}"&gt;path&lt;/span&gt;&lt;/li&gt;
              &lt;!-- &lt;li&gt;&lt;span&gt;Trace : &lt;/span&gt;&lt;span th:text="${trace}"&gt;trace&lt;/span&gt;&lt;/li&gt; --&gt;
        &lt;/ul&gt;
      &lt;/div&gt;  
      
      &lt;a id="a-error" th:href="@{/}"&gt; - Return main page - &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </div>
          <p>De esta manera tenemos una aplicación totalmente funcional.</p>
          <img src="../images/image3014.png" class="img-fluid">
          <p>La página principal imprime hasta un máximo de cinco jugadores, permite borrar jugadores, editar jugadores, posee un autocompletado totalmente funcional, una paginación y permite al usuario escoger entre dos idiomas.</p>
          <hr>
          <h4 class="sub-title bg-secondary text-white">Herramientas y Software</h4>
          <ul>
            <li>Eclipse Version: 2019-03 (4.11.0)</li>
            <li>Java SE-1.8 (jdk1.8.0)</li>
            <li>Spring Boot 2.2.4</li>
            <li>Spring MVC 5.2.3</li>
            <li>thymeleaf 3.0.11</li>
            <li>thymeleaf-layout-dialect 2.4.1</li>
            <li>mysql 8.0.19</li>
            <li>bootstrap 4.1.0</li>
            <li>jquery 3.4.1</li>
            <li>jquery-ui 1.12.1</li>
            <li>jquery-ui-themes 1.12.1</li>
          </ul>
          <!-- nav -->
          <div class="row" style="margin-left: 20px;">
            <div class="col-lg-6">
              <a href="springboot2-data-jpa-thymeleaf.html"><i class='fas fa-arrow-circle-left'></i> anterior </a>
              <p style="margin-left: 25px; text-decoration: underline;">Spring Boot 2 - JPA</p>
            </div>
            <div class="col-lg-6">
              <a href="#">siguiente <i class='fas fa-arrow-circle-right'></i></a>
              <p style="text-decoration: underline;">Spring Boot 2 - Web Service</p>
            </div>
          </div>
        </div> <!-- /col -->
      </div> <!-- /row -->
    </div> <!-- /container -->
    <hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted"><a href="https://github.com/wanchopi" class="my-footer-css">Mis proyectos en github.com</a></p>
            <p class="copyright text-muted">Desarrollado por Óscar Martínez con <a href="https://getbootstrap.com/" class="my-footer-css">Bootstrap</a> y <a href="https://jquery.com/" class="my-footer-css">jQuery</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/highlight.pack.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>